.bg-primary {
    background: linear-gradient(to right, #1f0fad, #37015d); /* Replace with your desired background color */
}

.nav-link {
    color: #ffffff; /* Text color for the brand and links */
}

.nav-link {
    transition: color 0.3s; /* Smooth transition effect for color changes */
}

.nav-link:hover {
    color: #ffd700; /* Text color on hover */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Color for the toggler icon */
}


.navbar-toggler {
    border-color: #ffffff; /* Border color for the toggler button */
}
.navbar-toggler:hover {
    color: #ffd700; /* Text color on hover */
}

.navbar-toggler:hover {
    color: #ffd700; /* Text color on hover */
}