.bg-primary {
    background: linear-gradient(to right, #660fad, purple); /* Replace with your desired background color */
}

.navbar {
    height: 3.5em; /* Set a static height for the navbar */
}
.nav-link {
    color: #ffffff; /* Text color for the brand and links */
}

.navbar-brand {
    color: #ffffff; /* Text color for the brand and links */
}
.navbar-brand:hover {
    animation: rainbowEffect 2s infinite; 
        }

    @keyframes rainbowEffect {
            0% { color: rgb(216, 0, 216); }
            16.666% { color: rgb(255, 145, 0); }
            33.333% { color: rgb(255, 0, 0); }
            50% { color: green; }
            66.666% { color: yellow; }
            83.333% { color: orange; }
            100% { color: red; }
    } 
    
        .navbar-brand-container {
            position: relative;
            width: 150px; /* Set the width of your container */
            height: 40px; /* Set the height of your container */
            overflow: hidden;
        }

        .navbar-brand-container img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            z-index: 1;
            transition: opacity 0.5s ease-in-out; /* Adjust the transition duration and timing function as needed */
        }

        .navbar-brand-container:hover img {
            opacity: 0;
            z-index: -1;
        }

        .navbar-brand {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            opacity: 0;
            z-index: 2;
            transition: opacity 0.5s ease-in-out; /* Adjust the transition duration and timing function as needed */
        }

        .navbar-brand-container:hover .navbar-brand {
            opacity: 1;
        }